
<launch>
	<node pkg = "drone_architecture" type="NormalVectorCalculator_Node" name="NormalVectorCalculator_subscriber" output="screen"> </node>
    <node pkg = "drone_architecture" type="Uart_Node" name="Uart_publisher" output="screen"> </node>
    <node pkg = "drone_architecture" type="Main_Node" name="Main_Controller" output="screen"> </node>
    <node pkg = "drone_architecture" type="PixhawkControl_Node" name="Pixhawk_Controller" output="screen"> </node>
    <node pkg = "drone_architecture" type="EndEffector_Node" name="EndEffector_Controller" output="screen"> </node>
</launch>